body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 16px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.markdown-preview-view table { 
display: block; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; border-collapse: collapse; 
white-space: nowrap; 
} 

.markdown-preview-view th, 
.markdown-preview-view td { 
padding: 0.5em; 
min-width: 160px; 
} 