
body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 17px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}

.markdown-preview-view table { 
display: block; width: 100%; overflow-x: auto; -webkit-overflow-scrolling: touch; border-collapse: collapse; 
white-space: nowrap; 
} 

.markdown-preview-view th, 
.markdown-preview-view td { 
padding: 0.5em; 
min-width: 160px; 
} 

.fake-button {
  display: inline-block;
  padding: 6px 16px;
  background-color: rgba(255, 255, 255, 0.05); /* subtle light tint */
  color: white;
  border-radius: 20px;
  font-weight: 600;
  font-size: 18px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  user-select: none;
  cursor: default;
  transition: all 0.3s ease;
}

h6, h1 {
  all: unset;
  display: block;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 !important;
  padding: 0 !important;
}

h1 {
  margin-bottom: 0.75rem;
}